<div class="row search-wrap">
  <div class="col-md-6">
    <label for="exampleDataList" class="form-label">Country</label>
    <input class="form-control" [formControl]="queryFieldCuontry" list="countryList" id="country" placeholder="Search Country..." (change)="mySelectHandler($event)">
    <datalist id="countryList">
      <option  *ngFor="let cuntry of countries" value="{{cuntry.name}}" >
    </datalist>
  </div>
  <div class="col-md-6">
    <label for="exampleDataList" class="form-label">city</label>
    <input class="form-control" [formControl]="queryFieldCity" list="cityList" id="city" placeholder="Search City..." (change)="setCity($event)">
    <datalist id="cityList">
      <option  *ngFor="let city of cities" value="{{city.name}}">
    </datalist>
  </div>
</div>







